// VARIABLES
$base-font-size: 16px !default;

// Base colours and fonts
$font-main: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !default;
$font-title: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !default;

// (Text)
$color-text: #ddd !default;
$color-heading: #fff !default;
$color-accent: #fff !default;
$color-bg: hsl(210, 20%, 15%) !default;

// (Links)
$color-link: hsl(210, 75%, 75%) !default;
$color-link-active: scale-color($color: $color-link, $lightness: 50%) !default;

// (Floating elements (e.g. link collection))
$floating-shadow: 0 0 2rem rgba(#000, 0.5) !default;
$floating-contrast-bg: rgba(#000, 0.5) !default;

$button-fg: $color-text !default;
$button-bg: transparent !default;

$button-fg-active: $color-heading;
$button-bg-active: rgba($button-fg, 0.2) !default;
$button-shadow-active: inset 0 0 0.5rem saturate(lighten($color-link-active, 20%), 50%), 0 0 0.5rem saturate(lighten($color-link-active, 20%), 50%) !default;

$width-page-padding: 1 * $base-font-size !default; //1rem
$width-wide: $base-font-size * 60 !default;
$width-narrow: $base-font-size * 40 !default;
$width-side: $base-font-size * 12 !default;
$width-home: $base-font-size * 25 !default;

$background-opacity-start: 0.7 !default;
$background-opacity-end: 1.0 !default;
$background-opacity-home-start: 0.5 !default;
$background-opacity-home-end: 0.75 !default;

@mixin floating {
    box-shadow: $floating-shadow;
    border-radius: 0.5rem;
    overflow: hidden;
    backdrop-filter: blur(0.5rem);
}

@mixin button {
    color: $button-fg;
    border: 1px solid rgba($button-fg, 0.25);
    border-radius: 0.5rem;
    z-index: 1;
}
@mixin button-active {
    color: $button-fg-active;
    background-color: $button-bg-active;
    border: 1px solid $button-fg-active;
    box-shadow: $button-shadow-active;
    z-index: 2;
    transform: scale(1);
}


// BASE

html{
    width: 100%;
    height: 100%;
    box-sizing: border-box;

    font-size: $base-font-size;
    line-height: 1.5;
    font-family: $font-main;
    background-color: $color-bg;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body{
    width: 100%;
    min-height: 100%;
    margin: 0;
    background-image: radial-gradient(circle at top,
        rgba($color-bg, $background-opacity-start) 0,
        rgba($color-bg, $background-opacity-end) 100vh
    );
    &.home-background{
        background-image: radial-gradient(circle at top,
            rgba($color-bg, $background-opacity-home-start) 0,
            rgba($color-bg, $background-opacity-home-end) 100vh
        );
    }
    color: $color-text;
    
    display: flex;
    flex-direction: column;
}

// COMMON ELEMENTS

// Reset margins
h2, h3, h4, h5, h6, p{
    margin: 0 auto 1rem;
}

// Headings
h1{
    color: $color-heading;
    font-size: 2.5rem;
    font-family: $font-title;
    margin: 0 auto 1rem;
}

h2, h3, h4, h5, h6{
    color: $color-heading;
    font-family: $font-title;
    padding-top: 1rem;
}
h2{
    font-size: 1.75rem;
}
h3{
    font-size: 1.25rem;
}
h4{
    font-size: 1rem;
}
h5{
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: normal;
}
h6{
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: normal;
    font-style: italic;
}

a{
    color: $color-link;
    text-decoration: none;
    border-bottom: 1px dotted currentColor;
    &:hover{
        color: $color-link-active;
    }
    &:focus, &:active{
        color: $color-text;
    }
}

li, ol{
    &::marker{
        width: 1rem;
    }
}
main img{
    max-width: 100%;
    @include floating();
}

main table{
    width: 100%;
    @include floating();
    margin-bottom: 1rem;
    border-radius: 0;
    border-collapse: collapse;
    overflow-x: scroll;
    td,th{
        border: 1px solid rgba($color-text, 0.25);
        padding: 0.25rem 0.5rem;
    }
    th{
        background-color: $floating-contrast-bg;
    }
    tr{
        &:hover{
            background-color: $floating-contrast-bg;
        }
    }

}

.full-width{
    width: 90vw;
    position: relative;
    left: calc(-45vw + 50%);
}

hr{
    margin: 2rem auto;
    border-color: rgba($color-text, 0.5);
}

label{
    display: inline-block;
    font-weight: bold;
    padding: 0.25rem 0;
}

input[type=text],
input[type=date],
input[type=time],
input[type=button]
{
    @include button();
    background-color: $floating-contrast-bg;
    display: block;
    width: calc(100% - 1rem);
    padding: 0.5rem;
    margin-bottom: 1rem;

    &:hover, &:focus{
        border-color: $color-text;
    }
}

blockquote{
    padding-left: 1rem;
    border-left: 1px dotted currentColor;
}

.lead{
    font-size: 125%;
}

// COMPONENTS
.link-collection{
    padding-left: 0;
    list-style: none;
    @include floating();
    @include button();
    li.section{
        padding: 1rem 0.5rem 0.5rem;
        font-weight: bold;
    }
    li.link{
        &.preview{
            background-position: center;
            background-size: cover;
            a{
                padding-top: 8rem;
                background-color: rgba($color-bg, 0.75);
                &:hover, &:focus{
                    background-color: rgba($color-bg, 0.5);
                }
            }
        }
        a{
            font-size: 1.25rem;
            padding: 0.5rem;
            display: block;
            @include button();
            border-radius: 0;
            &:hover, &:focus{
                @include button-active();
            }
            p{
                margin: 0 auto;
            }
            .link-description{
                font-size: 1rem;
                opacity: 0.75;
            }
        }
        &:first-child a{
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
        }
        &:last-child a{
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
        }
    }
}

// PAGE SECTIONS

header{
    flex: initial;
    padding: $width-page-padding;
    line-height: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    color: $color-accent;
    a{
        border: none;
        color: $color-accent;
    }
    .site-title{
        flex: none;
        font-size: 1.25rem;
        font-family: $font-title;
        font-weight: bold;
    }
    .site-nav{
        flex: initial;
        ul.site-pages
        {
            padding: 0;
            margin: 0;
            list-style: none;
            display: flex;
            flex-direction: row;
            justify-content: center;
            li{
                a{
                    display: block;
                    padding: 0 1ch;
                }
            }
        }
    }
}
main{
    flex: auto;
    display: flex;

    // Pages
    article{
        flex: auto;
        margin: auto;
        padding: 4rem 0;
        max-width: $width-wide;
        height: 100%;
        .page-info{
            padding: 0 $width-page-padding;
            color: $color-heading;
            margin-bottom: 4rem;
            .page-description{
                margin-top: 2rem;
                font-size: 1.25rem;
            }
        }
        .page-content{
            margin: 0 auto;
            max-width: $width-wide;
            display: flex;
            justify-content: space-around;
            width: 100%;
            .page-content-sidebar{
                flex-grow: 1;
                flex-shrink: 1;
                padding: 0 $width-page-padding;
                display: flex;
                flex-direction: column;
                .page-content-sidebar-item{

                }
                dt{
                    margin: 0 auto;
                    font-weight: bold;
                    text-transform: uppercase;
                    font-size: 0.9rem;
                    line-height: 1.5rem;
                    color: $color-heading;
                }
                dd{
                    margin: 0 auto 2rem;
                }
            }
            .page-content-main{
                flex-grow: 1;
                flex-shrink: 0;
                padding: 0 $width-page-padding;
                max-width: calc(100% - #{$width-page-padding * 2});
                & > *{
                    max-width: $width-narrow;
                    margin: 0 auto 1rem;
                }
                & > blockquote{
                    margin: 2rem auto;
                }
                & > .wide{
                    max-width: none;
                }
                .page-date{
                    opacity: 0.5;
                }
            }
            @media (max-width: $width-wide)
            {
                display: block;
                .page-content-sidebar{
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: center;
                }
                .page-content-sidebar-item{
                    width: $width-side;
                    margin: 0 1rem 1rem;
                }
            }
        }
    }

    // Home
    $home-y-offset: 8 * $base-font-size;
    $home-main-width: $width-narrow;
    article.home{
        max-width: none;
        padding: 8rem 0;

        h1{
            font-weight: normal;
        }
        .home-content{
            max-width: $home-main-width;
            padding: 0 $width-page-padding;
            @media (min-width: $home-main-width + $width-page-padding * 2) {
                padding: 0 calc(50vw - #{$home-main-width/ 2});
            }
            @media (min-width: $home-main-width + $home-y-offset * 2) {
                padding: 0 $home-y-offset;
            }
            .home-description{
                font-size: 1.25rem;
            }
            .link-collection{
                max-width: $width-home;
                margin-top: 2rem;
            }
        }
    }
}
footer{
    flex: initial;
    padding: $width-page-padding;
    font-size: 0.75rem;
    opacity: 0.75;
    p
    {
        margin-bottom: 0;
        &:last-child{
            margin-bottom: 0;
        }
    }
}
