// VARIABLES
$base-font-size: 16px !default;

// Base colours and fonts
$font-main: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !default;
$font-title: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !default;

// (Text)
$color-text: #ddd !default;
$color-heading: #fff !default;
$color-accent: #fff !default;
$color-bg: hsl(210, 20%, 15%) !default;

// (Links)
$color-link: hsl(210, 75%, 75%) !default;
$color-link-active: scale-color($color: $color-link, $lightness: 50%) !default;

// (Floating elements (e.g. link collection))
$floating-bg: $color-bg !default;
$floating-shadow: 0 0 8rem rgba(#000, 0.75) !default;

$button-fg: $color-text !default;
$button-bg: $floating-bg !default;

$button-fg-active: $color-heading;
$button-bg-active: scale-color($color-bg, $lightness: 10%) !default;
$button-shadow-active: inset 0 0 0.5rem saturate(lighten($color-link-active, 20%), 50%), 0 0 0.5rem saturate(lighten($color-link-active, 20%), 50%) !default;

$width-page-padding: 1 * $base-font-size !default; //1rem
$width-narrow: $base-font-size * 40 !default;
$width-wide: $width-narrow * 1.5 !default;
$width-home: $base-font-size * 25 !default;

$background-opacity-start: 0.7 !default;
$background-opacity-end: 1.0 !default;

@mixin floating {
    background-color: $floating-bg;
    box-shadow: $floating-shadow;
    border-radius: 0.5rem;
    overflow: hidden;
}

@mixin button {
    color: $button-fg;
    background-color: $button-bg;
    border: 1px solid rgba($button-fg, 0.25);
    border-radius: 0.5rem;
    z-index: 1;
}
@mixin button-active {
    color: $button-fg-active;
    background-color: $button-bg-active;
    border: 1px solid $button-fg-active;
    box-shadow: $button-shadow-active;
    z-index: 2;
    transform: scale(1);
}


// BASE

html{
    width: 100%;
    height: 100%;

    font-size: $base-font-size;
    line-height: 1.5;
    font-family: $font-main;
    background-color: $color-bg;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}
body{
    width: 100%;
    min-height: 100%;
    margin: 0;
    background-image: radial-gradient(circle at top,
        rgba($color-bg, $background-opacity-start) 0,
        rgba($color-bg, $background-opacity-end) 100vh
    );
    color: $color-text;
    
    display: flex;
    flex-direction: column;
}

// COMMON ELEMENTS

// Reset margins
h2, h3, h4, h5, h6, p{
    margin: 0 auto 1rem;
}

// Headings
h1{
    color: $color-heading;
    font-size: 2.5rem;
    margin: 0 auto 1rem;
}

h2, h3, h4, h5, h6{
    color: $color-heading;
}
h2{
    font-size: 1.75rem;
}
h3{
    font-size: 1.25rem;
}
h4{
    font-size: 1rem;
}
h5{
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: normal;
}
h6{
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: normal;
    font-style: italic;
}

a{
    color: $color-link;
    text-decoration: none;
    border-bottom: 1px dotted currentColor;
    &:hover{
        color: $color-link-active;
    }
    &:focus, &:active{
        color: $color-text;
    }
}

img{
    max-width: 100%;
    @include floating();
}

table{
    width: 100%;
    @include floating();
    margin-bottom: 1rem;
    border-collapse: collapse;
    border-radius: 0;
    td,th{
        border: 1px solid rgba($color-text, 0.25);
        padding: 0.125rem 0.25rem;
    }
}

// COMPONENTS
.link-collection{
    padding-left: 0;
    list-style: none;
    @include floating();
    li{
        a{
            display: block;
            font-size: 1.25rem;
            padding: 0.5rem;
            @include button();
            border-radius: 0;
            &:hover, &:focus{
                @include button-active();
            }
            p{
                margin: 0 auto;
            }
            .link-description{
                font-size: 1rem;
                opacity: 0.75;
            }
        }
        &:first-child a{
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
        }
        &:last-child a{
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
        }
    }
}


// PAGE SECTIONS

header{
    flex: initial;
    padding: $width-page-padding;
    line-height: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    color: $color-accent;
    a{
        border: none;
        color: $color-accent;
    }
    .site-title{
        flex: none;
        font-size: 1.25rem;
        font-family: $font-title;
        font-weight: bold;
    }
    .site-nav{
        flex: initial;
        ul.site-pages
        {
            padding: 0;
            margin: 0;
            list-style: none;
            display: flex;
            flex-direction: row;
            justify-content: center;
            li{
                a{
                    display: block;
                    padding: 0 1ch;
                }
            }
        }
    }
}
main{
    flex: auto;
    display: flex;

    // Pages
    article{
        flex: auto;
        margin: auto;
        padding: 4rem 0;
        max-width: $width-wide;
        height: 100%;
        .page-info{
            padding: 0 $width-page-padding;
            color: $color-heading;
            margin-bottom: 4rem;
            .page-description{
                margin-top: 2rem;
                font-size: 1.25rem;
            }
        }
        .page-content{
            margin: 0 auto;
            max-width: $width-wide;
            display: flex;
            justify-content: space-around;
            .page-text{
                padding: 0 $width-page-padding;
                max-width: $width-narrow;
            }
        }
    }

    // Home
    $home-y-offset: 8 * $base-font-size;
    $home-main-width: $width-narrow;
    article.home{
        max-width: none;
        padding: 4rem 0;
        h1{
            font-weight: normal;
        }
        .home-content{
            max-width: $home-main-width;
            padding: 0 $width-page-padding;
            @media (min-width: $home-main-width+ $width-page-padding * 2) {
                padding: 0 calc(50vw - #{$home-main-width/ 2});
            }
            @media (min-width: $home-main-width+ $home-y-offset * 2) {
                padding: 0 $home-y-offset;
            }
            .home-description{
                font-size: 1.25rem;
            }
            .link-collection{
                max-width: $width-home;
            }
        }
    }
}
footer{
    flex: initial;
    padding: $width-page-padding;
}