<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
        {%- seo -%}
        {%- if page.background-image -%}
            <style>
                html{
                    background-image: url("{{ page.background-image | relative_url }}");
                }
            </style>
        {%- endif -%}
        {%- include scripts.html -%}
    </head>
    <body>
        {%- include header.html -%}
        <main aria-label="Content">
            {{ content }}
        </main>
        {%- include footer.html -%}
    </body>
</html>
