---
layout: default
home-background: true
---

<article id="content" class="home">
    <div class="home-content">
        <h1 class="home-title">
            {% if page.welcome %}
                {{ page.welcome | markdownify | remove: '<p>' | remove: '</p>' }}
            {% else if page.title %}
                {{ page.title }}
            {% else %}
                {{ site.title }}
            {% endif %}
        </h1>
        <p class="home-description">
            {{ page.description | markdownify | remove: '<p>' | remove: '</p>' }}
        </p>

        <p class="home-text">
            {{ content }}
        </p>

        {% if page.links %}
            <ul class="home-links link-collection">
            {% for item in page.links %}
                {% if item.link %}
                <li class="link">
                    <a href="{{ item.link }}">
                        <div class="link-title">{{ item.title | markdownify }}</div>
                        {% if item.description %}
                            <div class="link-description">{{ item.description | markdownify }}</div>
                        {% endif %}
                    </a>
                </li>
                {% else if item.section %}
                <li class="section">
                    {{ item.section }}
                </li>
                {% endif %}
            {% endfor %}
            </ul>
        {% endif %}
    </div>
</article>
