---
layout: page
---

{{content}}

<ul class="link-collection spaced">
  {% for item in site[page.collection] %}
  {% unless item.hidden or item.path == page.path %}
    {% if item.image %}
    <li class="link preview" style="background-image:url({{item.image}});">
    {% else %}
    <li class="link">
    {% endif %}
        <a href="{{ item.url | relative_url }}" {% if item.color %}style="background-image:linear-gradient(to top, #{{item.color}} -50%, transparent);" {% endif %}>
        <div class="link-title">
            {{ item.title | escape }}
        </div>
        <div class="link-details">
            <p>{{ item.date | date_to_string }}</p>
        </div>
        <div class="link-description">
            {% if item.description %}<p>{{ item.description | escape }}</p>{% endif %}
        </div>
        </a>
    </li>
  {% endunless %}
  {% endfor %}
</ul>